.pessoa__imagem {
      height: 300px;
      margin: 0 auto;
      width: 300px;
      border-radius: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.pessoa__imagem--roberta {
      background-image: url('../../img/pessoas/roberta.jpg');
}

.pessoa__imagem--marcela {
      background-image: url('../../img/pessoas/marcela.jpg');
}

.pessoa__imagem--andreia {
      background-image: url('../../img/pessoas/andreia.jpg');
}